{
  "swagger" : "2.0",
  "info" : {
    "description" : null,
    "version" : "1.0.0",
    "title" : null,
    "termsOfService" : null,
    "contact" : null,
    "license" : null
  },
  "host" : "usw1.dm1-us.informaticacloud.com",
  "basePath" : "/saas/api",
  "schemes" : [ "https" ],
  "paths" : {
    "/v2/connection" : {
      "get" : {
        "tags" : [ "Connection_List" ],
        "summary" : null,
        "description" : null,
        "operationId" : "Connection_List",
        "produces" : [ "application/json" ],
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "icSessionId",
          "in" : "header",
          "description" : null,
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Connection_List"
              }
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "Connection_List##connParams" : {
      "properties" : {
        "agentId" : {
          "type" : "string"
        },
        "agentGroupId" : {
          "type" : "string"
        },
        "orgId" : {
          "type" : "string"
        }
      }
    },
    "Connection_List" : {
      "properties" : {
        "@type" : {
          "type" : "string"
        },
        "id" : {
          "type" : "string"
        },
        "orgId" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "createTime" : {
          "type" : "string"
        },
        "updateTime" : {
          "type" : "string"
        },
        "createdBy" : {
          "type" : "string"
        },
        "updatedBy" : {
          "type" : "string"
        },
        "agentId" : {
          "type" : "string"
        },
        "runtimeEnvironmentId" : {
          "type" : "string"
        },
        "instanceName" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string"
        },
        "port" : {
          "type" : "number",
          "format" : "int32"
        },
        "majorUpdateTime" : {
          "type" : "string"
        },
        "timeout" : {
          "type" : "number",
          "format" : "int32"
        },
        "connParams" : {
          "$ref" : "#/definitions/Connection_List##connParams"
        }
      }
    }
  }
}