{
  "swagger" : "2.0",
  "info" : {
    "description" : null,
    "version" : "1.0.0",
    "title" : null,
    "termsOfService" : null,
    "contact" : null,
    "license" : null
  },
  "host" : "usw1.dm1-us.informaticacloud.com",
  "basePath" : "/saas/api",
  "schemes" : [ "https" ],
  "paths" : {
    "/v2/mapping/{id}" : {
      "get" : {
        "tags" : [ "Mapping_Details" ],
        "summary" : null,
        "description" : null,
        "operationId" : "Mapping_Details",
        "produces" : [ "application/json" ],
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "icSessionId",
          "in" : "header",
          "description" : null,
          "required" : false,
          "type" : "string"
        } , {
          "name" : "id",
          "in" : "path",
          "description" : "id",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Mapping_Details"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "Mapping_Details##parameters##uiProperties" : {
      "properties" : {
        "connectionParameterized" : {
          "type" : "string"
        },
        "isMsrcFilterParameterized" : {
          "type" : "string"
        },
        "isMsrcSortParameterized" : {
          "type" : "string"
        },
        "objectParameterized" : {
          "type" : "string"
        },
        "visible" : {
          "type" : "string"
        },
        "defaultTargetUpdateColumns" : {
          "type" : "string"
        },
        "cnxtype" : {
          "type" : "string"
        },
        "connDefault" : {
          "type" : "string"
        },
        "logcnx" : {
          "type" : "string"
        },
        "default" : {
          "type" : "string"
        }
      }
    },
    "Mapping_Details##parameters##extendedObject" : {
      "properties" : {
        "@type" : {
          "type" : "string"
        },
        "object" : {
          "$ref" : "#/definitions/Mapping_Details##parameters##extendedObject##object"
        },
        "filters" : {
          "type" : "string"
        },
        "sortFields" : {
          "type" : "string"
        }
      }
    },
    "Mapping_Details##parameters##tgtFFAttrs" : {
      "properties" : {
        "@type" : {
          "type" : "string"
        },
        "id" : {
          "type" : "number",
          "format" : "int32"
        },
        "delimiter" : {
          "type" : "string"
        },
        "textQualifier" : {
          "type" : "string"
        },
        "escapeChar" : {
          "type" : "string"
        },
        "headerLineNo" : {
          "type" : "number",
          "format" : "int32"
        }
      }
    },
    "Mapping_Details##parameters##srcFFAttrs" : {
      "properties" : {
        "@type" : {
          "type" : "string"
        },
        "id" : {
          "type" : "number",
          "format" : "int32"
        },
        "delimiter" : {
          "type" : "string"
        },
        "textQualifier" : {
          "type" : "string"
        },
        "escapeChar" : {
          "type" : "string"
        },
        "headerLineNo" : {
          "type" : "number",
          "format" : "int32"
        },
        "firstDataRow" : {
          "type" : "number",
          "format" : "int32"
        }
      }
    },
    "Mapping_Details##parameters##extendedObject##object" : {
      "properties" : {
        "@type" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "label" : {
          "type" : "string"
        },
        "metadataUpdated" : {
          "type" : "boolean"
        },
        "relations" : {
          "type" : "string"
        },
        "children" : {
          "type" : "string"
        }
      }
    },
    "Mapping_Details##parameters" : {
      "properties" : {
        "@type" : {
          "type" : "string"
        },
        "id" : {
          "type" : "number"
        },
        "name" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string"
        },
        "label" : {
          "type" : "string"
        },
        "description" : {
          "type" : "string"
        },
        "uiProperties" : {
          "$ref" : "#/definitions/Mapping_Details##parameters##uiProperties"
        },
        "targetObject" : {
          "type" : "string"
        },
        "targetObjectLabel" : {
          "type" : "string"
        },
        "newFlatFile" : {
          "type" : "boolean"
        },
        "newObject" : {
          "type" : "boolean"
        },
        "showBusinessNames" : {
          "type" : "boolean"
        },
        "naturalOrder" : {
          "type" : "boolean"
        },
        "truncateTarget" : {
          "type" : "boolean"
        },
        "bulkApiDBTarget" : {
          "type" : "boolean"
        },
        "operationType" : {
          "type" : "string"
        },
        "tgtFieldRefs" : {
          "type" : "string"
        },
        "targetUpdateColumns" : {
          "type" : "string"
        },
        "extendedObject" : {
          "$ref" : "#/definitions/Mapping_Details##parameters##extendedObject"
        },
        "runtimeAttrs" : {
          "type" : "string"
        },
        "isRESTModernSource" : {
          "type" : "boolean"
        },
        "isFileList" : {
          "type" : "boolean"
        },
        "handleSpecialChars" : {
          "type" : "boolean"
        },
        "tgtObjectAttributes" : {
          "type" : "string"
        },
        "overriddenFields" : {
          "type" : "string"
        },
        "targetConnectionId" : {
          "type" : "string"
        },
        "newObjectName" : {
          "type" : "string"
        },
        "tgtFFAttrs" : {
          "$ref" : "#/definitions/Mapping_Details##parameters##tgtFFAttrs"
        },
        "sourceConnectionId" : {
          "type" : "string"
        },
        "srcFFAttrs" : {
          "$ref" : "#/definitions/Mapping_Details##parameters##srcFFAttrs"
        }
      }
    },
    "Mapping_Details##references" : {
      "properties" : {
        "@type" : {
          "type" : "string"
        },
        "refObjectId" : {
          "type" : "string"
        },
        "refType" : {
          "type" : "string"
        }
      }
    },
    "Mapping_Details" : {
      "properties" : {
        "@type" : {
          "type" : "string"
        },
        "id" : {
          "type" : "string"
        },
        "orgId" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "description" : {
          "type" : "string"
        },
        "createTime" : {
          "type" : "string"
        },
        "updateTime" : {
          "type" : "string"
        },
        "createdBy" : {
          "type" : "string"
        },
        "updatedBy" : {
          "type" : "string"
        },
        "bundleVersion" : {
          "type" : "string"
        },
        "templateId" : {
          "type" : "string"
        },
        "deployTime" : {
          "type" : "number",
          "format" : "int64"
        },
        "hasParameters" : {
          "type" : "boolean"
        },
        "valid" : {
          "type" : "boolean"
        },
        "fixedConnection" : {
          "type" : "boolean"
        },
        "hasParametersDeployed" : {
          "type" : "boolean"
        },
        "fixedConnectionDeployed" : {
          "type" : "boolean"
        },
        "deployedTemplateId" : {
          "type" : "string"
        },
        "tasks" : {
          "type" : "number",
          "format" : "int32"
        },
        "mappingPreviewFileRecordId" : {
          "type" : "string"
        },
        "deployedMappingPreviewFileRecordId" : {
          "type" : "string"
        },
        "parameters" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Mapping_Details##parameters"
          }
        },
        "inOutParameters" : {
          "type" : "string"
        },
        "references" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Mapping_Details##references"
          }
        }
      }
    }
  }
}