{
  "swagger" : "2.0",
  "info" : {
    "description" : null,
    "version" : "1.0.0",
    "title" : null,
    "termsOfService" : null,
    "contact" : null,
    "license" : null
  },
  "host" : "dm-us.informaticacloud.com",
  "basePath" : "/ma/api",
  "schemes" : [ "https" ],
  "paths" : {
    "/v2/user/loginSaml" : {
      "post" : {
        "tags" : [ "Login_SAML" ],
        "summary" : null,
        "description" : null,
        "operationId" : "Login_SAML",
        "produces" : [ "application/json" ],
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "description" : null,
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Login_SAML_Request##body"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Login_SAML"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "Login_SAML##roles" : {
      "properties" : {
        "name" : {
          "type" : "string"
        },
        "description" : {
          "type" : "string"
        }
      }
    },
    "Login_SAML" : {
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "orgId" : {
          "type" : "string"
        },
        "orgUuid" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "description" : {
          "type" : "string"
        },
        "createTime" : {
          "type" : "string"
        },
        "updateTime" : {
          "type" : "string"
        },
        "createdBy" : {
          "type" : "string"
        },
        "updatedBy" : {
          "type" : "string"
        },
        "sfUsername" : {
          "type" : "string"
        },
        "firstName" : {
          "type" : "string"
        },
        "lastName" : {
          "type" : "string"
        },
        "title" : {
          "type" : "string"
        },
        "password" : {
          "type" : "string"
        },
        "phone" : {
          "type" : "string"
        },
        "emails" : {
          "type" : "string"
        },
        "timezone" : {
          "type" : "string"
        },
        "serverUrl" : {
          "type" : "string"
        },
        "icSessionId" : {
          "type" : "string"
        },
        "securityQuestion" : {
          "type" : "string"
        },
        "securityAnswer" : {
          "type" : "string"
        },
        "uuid" : {
          "type" : "string"
        },
        "forceChangePassword" : {
          "type" : "boolean"
        },
        "roles" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Login_SAML##roles"
          }
        },
        "usergroups" : {
          "type" : "string"
        },
        "spiUrl" : {
          "type" : "string"
        }
      }
    },
    "Login_SAML_Request##body" : {
      "properties" : {
        "@type" : {
          "type" : "string"
        },
        "samlToken" : {
          "type" : "string"
        },
        "orgId" : {
          "type" : "string"
        }
      }
    },
    "Login_SAML_Request" : {
      "properties" : {
        "body" : {
          "$ref" : "#/definitions/Login_SAML_Request##body"
        }
      }
    }
  }
}