{
  "swagger" : "2.0",
  "info" : {
    "description" : null,
    "version" : "1.0.0",
    "title" : null,
    "termsOfService" : null,
    "contact" : null,
    "license" : null
  },
  "host" : "na1.dm-us.informaticacloud.com",
  "basePath" : "/saas/api",
  "schemes" : [ "https" ],
  "paths" : {
    "/v2/mapping" : {
      "get" : {
        "tags" : [ "Mapping_List" ],
        "summary" : null,
        "description" : null,
        "operationId" : "Mapping_List",
        "produces" : [ "application/json" ],
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "icSessionId",
          "in" : "header",
          "description" : null,
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Mapping_List"
              }
			}
          }
        }
      }
    }
  },
  "definitions" : {
    "Mapping_List" : {
      "properties" : {
        "@type" : {
          "type" : "string"
        },
        "id" : {
          "type" : "string"
        },
        "orgId" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "description" : {
          "type" : "string"
        },
        "createTime" : {
          "type" : "string"
        },
        "updateTime" : {
          "type" : "string"
        },
        "createdBy" : {
          "type" : "string"
        },
        "updatedBy" : {
          "type" : "string"
        },
        "bundleVersion" : {
          "type" : "string"
        },
        "templateId" : {
          "type" : "string"
        },
        "testTaskId" : {
          "type" : "string"
        },
        "deployTime" : {
          "type" : "number",
          "format" : "int64"
        },
        "hasParameters" : {
          "type" : "boolean"
        },
        "valid" : {
          "type" : "boolean"
        },
        "fixedConnection" : {
          "type" : "boolean"
        },
        "hasParametersDeployed" : {
          "type" : "boolean"
        },
        "fixedConnectionDeployed" : {
          "type" : "boolean"
        },
        "deployedTemplateId" : {
          "type" : "string"
        },
        "tasks" : {
          "type" : "number",
          "format" : "int32"
        },
        "mappingPreviewFileRecordId" : {
          "type" : "string"
        },
        "deployedMappingPreviewFileRecordId" : {
          "type" : "string"
        }
      }
    }
  }
}