{
  "swagger" : "2.0",
  "info" : {
    "description" : null,
    "version" : "1.0.0",
    "title" : null,
    "termsOfService" : null,
    "contact" : null,
    "license" : null
  },
  "host" : "na1.dm-us.informaticacloud.com",
  "basePath" : "/saas/api",
  "schemes" : [ "https" ],
  "paths" : {
    "/v2/mttask" : {
      "get" : {
        "tags" : [ "MT_List" ],
        "summary" : null,
        "description" : null,
        "operationId" : "MT_List",
        "produces" : [ "application/json" ],
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "icSessionId",
          "in" : "header",
          "description" : null,
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/MT_List"
              }
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "MT_List" : {
      "properties" : {
        "@type" : {
          "type" : "string"
        },
        "id" : {
          "type" : "string"
        },
        "orgId" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "description" : {
          "type" : "string"
        },
        "createTime" : {
          "type" : "string"
        },
        "updateTime" : {
          "type" : "string"
        },
        "createdBy" : {
          "type" : "string"
        },
        "updatedBy" : {
          "type" : "string"
        },
        "maxLogs" : {
          "type" : "number",
          "format" : "int32"
        },
        "verbose" : {
          "type" : "boolean"
        },
        "shortDescription" : {
          "type" : "string"
        },
        "sessionProperties" : {
          "type" : "string"
        },
        "enableCrossSchemaPushdown" : {
          "type" : "boolean"
        },
        "parameters" : {
          "type" : "string"
        },
        "sequences" : {
          "type" : "string"
        },
        "inOutParameters" : {
          "type" : "string"
        }
      }
    }
  }
}