{
    "swagger" : "2.0",
    "info" : {
      "description" : null,
      "version" : "1.0.0",
      "title" : null,
      "termsOfService" : null,
      "contact" : null,
      "license" : null
    },
    "host" : "na1.dm-us.informaticacloud.com",
    "basePath" : "/saas",
    "schemes" : [ "https" ],
    "paths" : {
      "/api/v2/org" : {
        "get" : {
          "tags" : [ "restapi_get_org" ],
          "summary" : null,
          "description" : null,
          "operationId" : "restapi_get_org",
          "produces" : [ "application/json" ],
          "consumes" : [ "application/json" ],
          "parameters" : [ {
            "name" : "icSessionId",
            "in" : "header",
            "description" : null,
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/definitions/restapi_get_org"
                }
              }
            }
          }
        }
      }
    },
    "definitions" : {
      "restapi_get_org##subOrgs" : {
        "properties" : {
          "@type" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          }
        }
      },
      "restapi_get_org" : {
        "properties" : {
          "@type" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string"
          },
          "orgId" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "description" : {
            "type" : "string"
          },
          "createTime" : {
            "type" : "string"
          },
          "updateTime" : {
            "type" : "string"
          },
          "createdBy" : {
            "type" : "string"
          },
          "updatedBy" : {
            "type" : "string"
          },
          "address1" : {
            "type" : "string"
          },
          "address2" : {
            "type" : "string"
          },
          "address3" : {
            "type" : "string"
          },
          "employees" : {
            "type" : "string"
          },
          "city" : {
            "type" : "string"
          },
          "country" : {
            "type" : "string"
          },
          "state" : {
            "type" : "string"
          },
          "zipcode" : {
            "type" : "string"
          },
          "successEmails" : {
            "type" : "string"
          },
          "warningEmails" : {
            "type" : "string"
          },
          "errorEmails" : {
            "type" : "string"
          },
          "spiUrl" : {
            "type" : "string"
          },
          "devOrg" : {
            "type" : "boolean"
          },
          "timezone" : {
            "type" : "string"
          },
          "maxLogRows" : {
            "type" : "number",
            "format" : "int32"
          },
          "minPasswordLength" : {
            "type" : "number",
            "format" : "int32"
          },
          "minPasswordCharMix" : {
            "type" : "number",
            "format" : "int32"
          },
          "passwordReuseInDays" : {
            "type" : "number",
            "format" : "int32"
          },
          "passwordExpirationInDays" : {
            "type" : "number",
            "format" : "int32"
          },
          "subOrgLimit" : {
            "type" : "number",
            "format" : "int32"
          },
          "restApiSessionLimit" : {
            "type" : "number",
            "format" : "int32"
          },
          "parentOrgId" : {
            "type" : "string"
          },
          "subOrgs" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/restapi_get_org##subOrgs"
            }
          },
          "twoFactorAuthentication" : {
            "type" : "boolean"
          },
          "orgUUID" : {
            "type" : "string"
          },
          "ipAddressRanges" : {
            "type" : "string"
          }
        }
      }
    }
  }