{
  "swagger" : "2.0",
  "info" : {
    "description" : null,
    "version" : "1.0.0",
    "title" : null,
    "termsOfService" : null,
    "contact" : null,
    "license" : null
  },
  "host" : "usw5.dm-us.informaticacloud.com",
  "basePath" : "/saas/api",
  "schemes" : [ "https" ],
  "paths" : {
    "/v2/agent/{id}" : {
      "get" : {
        "tags" : [ "Agent_Details" ],
        "summary" : null,
        "description" : null,
        "operationId" : "Agent_Details",
        "produces" : [ "application/json" ],
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "icSessionId",
          "in" : "header",
          "description" : null,
          "required" : false,
          "type" : "string"
        } , {
          "name" : "id",
          "in" : "path",
          "description" : "id",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
                "$ref" : "#/definitions/Agent_Details"
			}
          }
        }
      }
    }
  },
  "definitions" : {
    "Agent_Details##agentConfigs" : {
      "properties" : {
        "@type" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string"
        },
        "value" : {
          "type" : "string"
        },
        "customized" : {
          "type" : "boolean"
        },
        "overridden" : {
          "type" : "boolean"
        },
        "platform" : {
          "type" : "string"
        }
      }
    },
    "Agent_Details" : {
      "properties" : {
        "@type" : {
          "type" : "string"
        },
        "id" : {
          "type" : "string"
        },
        "orgId" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "createTime" : {
          "type" : "string"
        },
        "updateTime" : {
          "type" : "string"
        },
        "createdBy" : {
          "type" : "string"
        },
        "updatedBy" : {
          "type" : "string"
        },
        "active" : {
          "type" : "boolean"
        },
        "readyToRun" : {
          "type" : "boolean"
        },
        "platform" : {
          "type" : "string"
        },
        "agentHost" : {
          "type" : "string"
        },
        "serverUrl" : {
          "type" : "string"
        },
        "proxyPort" : {
          "type" : "number",
          "format" : "int32"
        },
        "agentVersion" : {
          "type" : "string"
        },
        "upgradeStatus" : {
          "type" : "string"
        },
        "spiUrl" : {
          "type" : "string"
        },
        "lastUpgraded" : {
          "type" : "string"
        },
        "lastUpgradeCheck" : {
          "type" : "string"
        },
        "lastStatusChange" : {
          "type" : "string"
        },
        "packages" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "agentConfigs" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Agent_Details##agentConfigs"
          }
        },
        "configUpdateTime" : {
          "type" : "string"
        }
      }
    }
  }
}