{
  "swagger" : "2.0",
  "info" : {
    "description" : null,
    "version" : "1.0.0",
    "title" : null,
    "termsOfService" : null,
    "contact" : null,
    "license" : null
  },
  "host" : "usw5.dm-us.informaticacloud.com",
  "basePath" : "/saas/api",
  "schemes" : [ "https" ],
  "paths" : {
    "/v2/mttask/{id}" : {
      "get" : {
        "tags" : [ "MT_Details" ],
        "summary" : null,
        "description" : null,
        "operationId" : "MT_Details",
        "produces" : [ "application/json" ],
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "icSessionId",
          "in" : "header",
          "description" : null,
          "required" : false,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "id",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/MT_Details"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "MT_Details##parameters##uiProperties" : {
      "properties" : {
        "connectionParameterized" : {
          "type" : "string"
        },
        "objectParameterized" : {
          "type" : "string"
        },
        "visible" : {
          "type" : "string"
        },
        "defaultTargetUpdateColumns" : {
          "type" : "string"
        }
      }
    },
    "MT_Details##parameters##customFuncCfg" : {
      "properties" : {
        "@type" : {
          "type" : "string"
        },
        "id" : {
          "type" : "number",
          "format" : "int32"
        },
        "connections" : {
          "type" : "string"
        },
        "inputMap" : {
          "type" : "string"
        },
        "outputFields" : {
          "type" : "string"
        }
      }
    },
    "MT_Details##parameters##tgtFFAttrs" : {
      "properties" : {
        "@type" : {
          "type" : "string"
        },
        "id" : {
          "type" : "number",
          "format" : "int32"
        },
        "delimiter" : {
          "type" : "string"
        },
        "textQualifier" : {
          "type" : "string"
        },
        "escapeChar" : {
          "type" : "string"
        },
        "headerLineNo" : {
          "type" : "number",
          "format" : "int32"
        }
      }
    },
    "MT_Details##parameters##extendedObject" : {
      "properties" : {
        "@type" : {
          "type" : "string"
        },
        "filters" : {
          "type" : "string"
        },
        "sortFields" : {
          "type" : "string"
        }
      }
    },
    "MT_Details##parameters" : {
      "properties" : {
        "@type" : {
          "type" : "string"
        },
        "id" : {
          "type" : "number"
        },
        "name" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string"
        },
        "label" : {
          "type" : "string"
        },
        "uiProperties" : {
          "$ref" : "#/definitions/MT_Details##parameters##uiProperties"
        },
        "sourceConnectionId" : {
          "type" : "string"
        },
		"targetConnectionId" : {
          "type" : "string"
        },
		"lookupConnectionId" : {
          "type" : "string"
        },
        "sourceObject" : {
          "type" : "string"
        },
        "newFlatFile" : {
          "type" : "boolean"
        },
        "newObject" : {
          "type" : "boolean"
        },
        "showBusinessNames" : {
          "type" : "boolean"
        },
        "naturalOrder" : {
          "type" : "boolean"
        },
        "truncateTarget" : {
          "type" : "boolean"
        },
        "bulkApiDBTarget" : {
          "type" : "boolean"
        },
        "customFuncCfg" : {
          "$ref" : "#/definitions/MT_Details##parameters##customFuncCfg"
        },
        "tgtFieldRefs" : {
          "type" : "string"
        },
        "targetUpdateColumns" : {
          "type" : "string"
        },
        "runtimeAttrs" : {
          "type" : "string"
        },
        "isRESTModernSource" : {
          "type" : "boolean"
        },
        "requestXml" : {
          "type" : "string"
        },
        "isFileList" : {
          "type" : "boolean"
        },
        "handleSpecialChars" : {
          "type" : "boolean"
        },
        "tgtObjectAttributes" : {
          "type" : "string"
        },
        "overriddenFields" : {
          "type" : "string"
        },
        "targetConnectionId" : {
          "type" : "string"
        },
        "targetObject" : {
          "type" : "string"
        },
        "targetObjectLabel" : {
          "type" : "string"
        },
        "newObjectName" : {
          "type" : "string"
        },
        "operationType" : {
          "type" : "string"
        },
        "tgtFFAttrs" : {
          "$ref" : "#/definitions/MT_Details##parameters##tgtFFAttrs"
        },
        "extendedObject" : {
          "$ref" : "#/definitions/MT_Details##parameters##extendedObject"
        }
      }
    },
    "MT_Details" : {
      "properties" : {
        "@type" : {
          "type" : "string"
        },
        "id" : {
          "type" : "string"
        },
        "orgId" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "description" : {
          "type" : "string"
        },
        "createTime" : {
          "type" : "string"
        },
        "updateTime" : {
          "type" : "string"
        },
        "createdBy" : {
          "type" : "string"
        },
        "updatedBy" : {
          "type" : "string"
        },
        "agentId" : {
          "type" : "string"
        },
        "runtimeEnvironmentId" : {
          "type" : "string"
        },
        "maxLogs" : {
          "type" : "number",
          "format" : "int32"
        },
        "verbose" : {
          "type" : "boolean"
        },
        "lastRunTime" : {
          "type" : "number",
          "format" : "int64"
        },
        "mappingId" : {
          "type" : "string"
        },
        "shortDescription" : {
          "type" : "string"
        },
        "sessionProperties" : {
          "type" : "string"
        },
        "enableCrossSchemaPushdown" : {
          "type" : "boolean"
        },
        "parameters" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/MT_Details##parameters"
          }
        },
        "sequences" : {
          "type" : "string"
        },
        "inOutParameters" : {
          "type" : "string"
        }
      }
    }
  }
}