{
    "swagger" : "2.0",
    "info" : {
      "description" : null,
      "version" : "1.0.0",
      "title" : null,
      "termsOfService" : null,
      "contact" : null,
      "license" : null
    },
    "host" : "usw5.dm-us.informaticacloud.com",
    "basePath" : "/saas",
    "schemes" : [ "https" ],
    "paths" : {
      "/public/core/v3/objects" : {
        "get" : {
          "tags" : [ "restapi_get_objects" ],
          "summary" : null,
          "description" : null,
          "operationId" : "restapi_get_objects",
          "produces" : [ "application/json" ],
          "consumes" : [ "application/json" ],
          "parameters" : [ {
            "name" : "q",
            "in" : "query",
            "description" : null,
            "required" : false,
            "type" : "string"
          }, {
            "name" : "limit",
            "in" : "query",
            "description" : null,
            "required" : false,
            "type" : "number",
            "format" : "int32"
          }, {
            "name" : "skip",
            "in" : "query",
            "description" : null,
            "required" : false,
            "type" : "number",
            "format" : "int32"
          }, {
            "name" : "INFA-SESSION-ID",
            "in" : "header",
            "description" : null,
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/restapi_get_objects"
              }
            }
          }
        }
      }
    },
    "definitions" : {
      "restapi_get_objects##objects##customAttributes" : {
        "properties" : {
          "publishedBy" : {
            "type" : "string"
          },
          "publicationStatus" : {
            "type" : "string"
          },
          "publicationDate" : {
            "type" : "string"
          }
        }
      },
      "restapi_get_objects##objects" : {
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "path" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string"
          },
          "description" : {
            "type" : "string"
          },
          "updatedBy" : {
            "type" : "string"
          },
          "updateTime" : {
            "type" : "string"
          },
          "tags" : {
            "type" : "string"
          },
          "sourceControl" : {
            "type" : "string"
          },
          "customAttributes" : {
            "type" : "string"
          }
        }
      },
      "restapi_get_objects" : {
        "properties" : {
          "count" : {
            "type" : "number",
            "format" : "int32"
          },
          "objects" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/restapi_get_objects##objects"
            }
          }
        }
      }
    }
  }