{
  "swagger" : "2.0",
  "info" : {
    "description" : null,
    "version" : "1.0.0",
    "title" : null,
    "termsOfService" : null,
    "contact" : null,
    "license" : null
  },
  "host" : "usw5.dm-us.informaticacloud.com",
  "basePath" : "/saas",
  "schemes" : [ "https" ],
  "paths" : {
    "public/core/v3/securityLog" : {
      "get" : {
        "tags" : [ "restapi_get_securityLog" ],
        "summary" : null,
        "description" : null,
        "operationId" : "restapi_get_securityLog",
        "produces" : [ "application/json" ],
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "q",
          "in" : "query",
          "description" : null,
          "required" : false,
          "type" : "string"
        }, {
          "name" : "skip",
          "in" : "query",
          "description" : null,
          "required" : false,
          "type" : "number",
          "format" : "int32"
        }, {
          "name" : "INFA-SESSION-ID",
          "in" : "header",
          "description" : null,
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/restapi_get_securityLog"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "restapi_get_securityLog##entries" : {
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "orgId" : {
          "type" : "string"
        },
        "actor" : {
          "type" : "string"
        },
        "entryTime" : {
          "type" : "string"
        },
        "objectId" : {
          "type" : "string"
        },
        "objectName" : {
          "type" : "string"
        },
        "actionCategory" : {
          "type" : "string"
        },
        "actionEvent" : {
          "type" : "string"
        }
      }
    },
    "restapi_get_securityLog" : {
      "properties" : {
        "entries" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/restapi_get_securityLog##entries"
          }
        }
      }
    }
  }
}